{% extends 'base.html' %}

{% block body %}

<div class="container">

```
<div class="contact-container">

    <div class="contact-brand">

        <h1>FRAME</h1>

        <div class="brand-line"></div>

        <p>CINEMATOGRAFIA • EDIÇÃO • WEB</p>

    </div>


    <div class="contact-content">

        <h2>Contato</h2>

        <p class="contact-text">
            Vamos conversar sobre um projeto?
        </p>


        <div class="contact-info">

            <h4>Ricardo de Canez</h4>

            <p>
                Cinegrafista e Editor de Vídeo
            </p>

            <p class="development">
                Desenvolvedor Web Python em formação
            </p>

            <p class="technologies">
                Flask • HTML • CSS • Bootstrap
            </p>

            <a href="mailto:seuemail@gmail.com?subject=Contato%20pelo%20site"
                class="btn btn-primary mt-3">
                Enviar e-mail
            </a>
            <p class="mt-3">
                ricardodecanez@gmail.com
            </p>

        </div>

    </div>

</div>
```

</div>

{% endblock %}

